<div class="jumbotron-wrapper">
  <div class="jumbotron jumbotron-custom">
    <div class="container">
      <h1>Leader. Technologist. Proven.</h1>

      <p>I am a strong leader, a technologists that can learn and span any software development language. The best way
         to
         learn something is to teach it. I work well on teams, or solo projects. I love node.js, rails, and .net. I love
         giving back to open source. Want to learn how I could fit well on your team?</p>

      <a href="mailto:tjgarlick@gmail.com" class="btn btn-default btn-lg">Contact Me</a>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>About Tyler Garlick</h2>

      <p class="lead">Relentless. Passionate. Self Driven.</p>

      <p>Those are words that people use when describing me to another developer or a stranger. I work well with people,
         and I know how to run a software development team. I also know how to put my head down and get a project
         done.</p>
      <hr/>
      <h2>Technical Skills</h2>

      <p class="lead">node.js, Ruby on Rails, C#</p>

      <p>I've been developing software for over 10 years now, and I've learned a few things along the way. The most
         important thing i've learned is to never stop learning. When you think you've mastered a framework or
         technology pick up a new one.</p>
      <hr/>
      <h2>Contact Me</h2>


      <p class="lead">Mobile: <a href="tel:407-624-2045" target="_blank">407-624-2045</a> | Email:
        <a href="mailto:tjgarick@gmail.com" target="_blank">tjgarlick@gmail.com</a>
      </p>

      <p>Want to learn more about me and how I can help you?
        <a href="mailto:tjgarick@gmail.com" target="_blank">Email</a> or
        <a href="tel:407-624-2045" target="_blank">call</a> me. </p>
    </div>

    <div class="col-xs-6">
      <h2>Projects</h2>

      <p class="lead">
        <a href="https://app.greenixpc.com" target="_blank">Greenix Mobile Web Application</a>,
        <a href="https://github.com/TylerGarlick/RedRocket.Persistence.EF" target="_blank">RedRocket
                                                                                           Persistence
                                                                                           EF</a>,
        <a href="https://github.com/TylerGarlick/ignitor.js" target="_blank">Ignitor.js,</a>,
        <a href="https://github.com/TylerGarlick/angular-redactor" target="_blank">Angular
                                                                                   Redactor</a>
      </p>
      <h4>Greenix Mobile Web Application</h4>

      <p>Greenix Pest Control was formerly using papers to sigh up their clientele. The papers would sometimes get lost
         and or not processed correctly in the office. Greenix decided it was time to go mobile, and I was able to build
         them a solution that worked on the iPad. They quickly forgot what their life was like before using paper and
         loved the new iPads. Most importantly it saved them countless hours and missed business opportunities.</p>

      <h4>RedRocket Persistence</h4>

      <p>The RedRocket framework was conceptualized about 5 years ago but didn't officially materialize into a framework
         until about 2 years ago. The team I was working on needed a framework to abstract away it's entities to
         minimize friction when testing. The framework did just that an allow the team to build applications built on
         concepts of inversion of control and test driven development. The framework is built in C# and targets Entity
         Framework, and RavenDB.</p>

      </p>
    </div>
  </div>


</div>