<div class="jumbotron-wrapper">
  <div class="jumbotron jumbotron-custom">
    <div class="container">
      <h1>Leader. Technologist. Driven.</h1>

      <p>I am a strong leader, a technologists that can learn and span any software development language. The best way
         to
         learn something is to teach it. I work well on teams, or solo projects. I love node.js, rails, and .net. I
         love
         giving back to open source. Want to learn how I could fit well on your team?</p>

      <a href="mailto:tjgarlick@gmail.com" class="btn btn-default btn-lg">Contact Me</a>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>About Tyler Garlick</h2>

      <p class="lead">Relentless. Passionate. Self Driven.</p>

      <p class="paragraph-spaced">Those are words that people use when describing me to another developer or a stranger.
                                  I work well with
                                  people,
                                  and I know how to run a software development team. I also know how to put my head down
                                  and get a project
                                  done.</p>

      <h2>Node.js and UX Skills</h2>

      <p class="lead">Node.js, Twitter Bootstrap and Angular.js</p>

      <p class="paragraph-spaced">I've been developing software for over 10 years now, and I've learned a few things
                                  along the way. The most
                                  important thing i've learned is to never stop learning. When you think you've mastered
                                  a framework or
                                  technology pick up a new one. For that reason, I feel in love with Angular.js +
                                  Twitter Bootstrap + Node.js.
                                  Javascript emerged as a single stack, and I fell in love with it.</p>

      <p class="paragraph-spaced">
        <a href="pdf/resume-node.pdf" target="_blank" class="btn btn-warning btn-lg">View My Resume</a></p>

      <h2>Contact Me</h2>


      <p class="lead">Mobile: <a href="tel:407-624-2045" target="_blank">407-624-2045</a> | Email:
        <a href="mailto:tjgarick@gmail.com" target="_blank">tjgarlick@gmail.com</a>
      </p>

      <p class="paragraph-spaced">Want to learn more about me and how I can help you?
        <a href="mailto:tjgarick@gmail.com" target="_blank">Email</a> or
        <a href="tel:407-624-2045" target="_blank">call</a> me. </p>


    </div>

    <div class="col-xs-6">
      <div class="awesomeness">
        <img src="/img/gearstream_plus_me_equals_awesomeness.png"/>
      </div>

      <div class="bars">
        <d3-bars data="data"></d3-bars>
      </div>

      <h2>Why I'm a good fit</h2>

      <p class="lead">Aside from being passionate about UI and Javascript, I work with best practices and love building
                      dashboards.</p>

      <ul class="paragraph-spaced">
        <li>I can communicate with a team or client</li>
        <li>I love to build web api's and services, or consume them</li>
        <li>I can do cool things with d3</li>
        <li>I know jquery well, and love working in Javascript</li>
        <li>I've been doing this for about 10+ years</li>
        <li>I want to do something cool, and you guys are doing it!</li>
      </ul>


      <h2>What I've done before</h2>

      <p class="lead">
        <a href="http://app.greenixpc.com" target="_blank">Greenix Mobile Web Application</a>,
        <a href="https://github.com/TylerGarlick/ignitor.js" target="_blank">Ignitor.js</a>,
        <a href="https://github.com/TylerGarlick/angular-redactor" target="_blank">Angular
                                                                                   Redactor</a>, and other cool
                                                                                              projects...

      </p>


      <h4>Greenix Mobile Web Application</h4>

      <p class="paragraph-spaced">Greenix Pest Control was formerly using papers to sigh up their clientele. The papers would sometimes get
         lost
         and or not processed correctly in the office. Greenix decided it was time to go mobile, and I was able to
         build
         them a solution that worked on the iPad. They quickly forgot what their life was like before using paper and
         loved the new iPads. Most importantly it saved them countless hours and missed business opportunities. Built in
         node.js and angular.js</p>
      <h4>Angular Redactor</h4>

      <p class="paragraph-spaced">Angular Redactor was built because the current redactor plugin for angular was non-existent. I determined to
         build something that was easy to use, because directives are pretty challenging when you get started. The
         result was a plugin that works well, and has no supporting issues. </p>
      </p>

      <h2>Let's Chat</h2>
      <p class="lead">
        Let's <a href="mailto:tjgarick@gmail.com" target="_blank">talk</a> about how I can be an asset to GearStream.
      </p>

    </div>
  </div>


</div>