html,
body {
  height: 100%;
}
.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .navbar {
  z-index: 2000;
  -webkit-box-shadow: 0px 2px 10px rgba(20, 20, 20, 0.7);
  -moz-box-shadow: 0px 2px 10px rgba(20, 20, 20, 0.7);
  box-shadow: 0px 2px 10px rgba(20, 20, 20, 0.7);
}
.jumbotron-wrapper .jumbotron {
  background-color: #759a3b;
  padding-top: 120px;
  margin-top: -120px;
  min-height: 400px;
  color: white;
  -webkit-box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.7);
  -moz-box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.7);
  box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.7);
}
.carousel-wrapper {
  margin-top: -120px;
  margin-bottom: 60px;
  z-index: 0;
}
.carousel-wrapper .jumbotron {
  padding: 0px;
}
.carousel-wrapper img {
  z-index: 0;
}
.carousel-wrapper .carousel-custom {
  min-height: 400px;
}
.carousel-wrapper .carousel-caption p {
  font-size: 21px;
  line-height: 1.4;
}
.container-white {
  color: white;
}
.redactor_editor {
  height: 250px;
}
form {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 75px;
}
